body {
    font-family: Arial, sans-serif;
    background-color: #efcdcd;
}

header {
    background-color: #eaacac;
    color: white;
    padding: 10px 0;
    text-align: center;
}

img {
    width: 400px;
    border-radius: 50%;
    border: 5px solid #333;
}

nav ul {
    background-color: #c34b4b;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    font-size: 25px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin: 20px;
}

h1,
h2,
h3 {
    color: #333;
    font-size: 40px;
}

p {
    line-height: 1.6;
    color: #666;
    font-size: 30px;
}

footer {
    background-color: #eaacac;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}