html,
body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeadad;
    line-height: 1.65;
    padding-bottom: 1000px;
}

.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.sidebar-satu {
    flex: 1;
    order: 1;
    padding: 10px;
}

.kolom-utama {
    flex: 2;
    order: 2;
    padding: 10px;
}

.sidebar-dua {
    flex: 1;
    order: 3;
    padding: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}